{% extends 'points/base.html' %}

{% block extra_head %}

    {% load uni_form %}

    {{ points_form_media }}

{% endblock %}

{% block body %}
{# FIXME I think I copied this from a form with a file? should I change that enctype? #}


    <form class="uniForm" id="edit-point" method="POST" enctype="multipart/form-data" action="{% url points_add app_label=app_label model_name=model_name id=id %}">
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
            <div class="form_block">
                <input type="hidden" name="action" value="upload" />
                <input type="submit" value="Add" />
            </div>
        </fieldset>
    </form>

{% endblock %}

