{% extends 'points/base.html' %}

{% block extra_head %}

    {% load uni_form %}

    {{ points_form_media }}

    <style>
        div#id_point_map {
            clear:both;
        }
    </style>

    {# FIXME make this some sort of custom template obj #}
    <script>
        $(function () {
            $('form#edit-point').submit( function() {
                $('input#id_point').val(map{{id}}.getZoom());
            });
        });
    </script>

{% endblock %}

{% block body %}
{# FIXME I think I copied this from a form with a file? should I change that enctype? #}

<div style='width:90%; margin:0 auto;'>
    <form class="uniForm" id="edit-point" method="POST" enctype="multipart/form-data" action="">
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
            <div class="form_block">
                <input type="hidden" name="action" value="upload" />
                <input type="submit" value="Add" />
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}

